/* Estilos para el contenedor de paginación */
.pagination-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    margin-top: 1.5rem; /* Ajusta el margen superior según sea necesario */
}

/* Estilos adicionales para la paginación */
.pagination-link:hover {
    background-color: #d1d5db; /* Cambia el color de fondo en hover */
}

.pagination-link.active {
    background-color: #6b7280; /* Cambia el color de fondo cuando está activo */
    color: white; /* Cambia el color del texto cuando está activo */
}
